<div class="carousel slide carousel-multi-item" data-ride="carousel">
  <button class="carousel-btn left" (click)="scrollLeft()">‹</button>

  <div class="card-container">
    @for (item of districtList; track item.id){
    <div class="card" style="width: 18rem;">
      <img src={{item.image}} class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{item.name}}</h5>
        <p class="card-text">{{item.description}}</p>
        <app-my-button class="btn" title="Know more"></app-my-button>
      </div>
    </div>
    }
  </div>
  <button class="carousel-btn right" (click)="scrollRight()">›</button>
</div>
