.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  height: 100%;
}

.card {
  display: flex;
  max-height:430px ;
  min-height: 430px;
  flex-direction: column;
  border: none;
  border-radius: 10px;
  padding: 10px;
  position: relative;
  overflow: hidden;
  box-shadow: rgb(230, 228, 228);
  transition: transform 0.3s ease-in-out;
  &:hover{
    transform: scale(1.03);
  }

  &.bordered {
    border: 1px solid #757575;
    border-radius: 10px;
  }

}

.card-img-top {
  width: 100%;
  min-height: 200px;
  max-height: 250px;

}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  flex: 1;
  flex-grow: 1;
}

.card-body .btn {
  align-self: flex-start;
  margin-top: auto;
}

.card-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.card-buttons .btn {
  flex: 1;
  text-align: center;
}
.button-common {
  width: 120px;
  height: 40px;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
}


