
<div class="card-container">
  <div class="card" style="width: 18rem;" [ngClass]="{'bordered': showBorder}">
    <img src={{data.image}} class="card-img-top" alt="..." />
    <div class="card-body">
      <h5 class="card-title">{{ data.title | slice:0:20}}...</h5>
      <p class="card-text">{{ data.description | slice:0:60 }}...</p>
      <div class="card-buttons d-flex justify-content-between align-items-center">
        <a class="btn btn-dark button-common" title="Know more" [routerLink]="routeLink">Know More</a>
        @if (showAddToCart)
        {
          <button class="btn btn-primary button-common" (click)="ProductSet.addToCart(data.id)">Add
            <span><i class="fa-solid fa-cart-shopping"></i></span>
          </button>
        }
      </div>

    </div>
  </div>
</div>




