<div id="carouselExampleSlidesOnly" class="carousel slide carousel-fade" data-bs-ride="carousel" data-bs-touch="false">
  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="2500">
      <img src="images/1.jpg" class="d-block w-100 zoom-carousel-img">
    </div>
    @for ( item of itemList; track item.id)
    {
    <div class="carousel-item " data-bs-interval="2500">
      <img src={{item.image}} class="d-block w-100 zoom-carousel-img">
    </div>
    }
  </div>
</div>
