<div id="carouselExampleSlidesOnly" class="carousel slide carousel-fade" data-bs-ride="carousel" data-bs-touch="false">
  <div class="carousel-inner">

<div class="carousel-item active" data-bs-interval="2500">
  <img src="images/1.jpg" class="d-block w-100 zoom-carousel-img">
</div>
    <div
      *ngFor="let item of data; let i = index"
      class="carousel-item"
      [class.active]="i === 0"
      data-bs-interval="2500"
    >
      <img [src]="item.image" class="d-block w-100 zoom-carousel-img" />
    </div>
  </div>
</div>


