.first-character {
  color: rgb(31, 109, 0);
  font-weight: 400;
  float: left;
  font-size: 84px;
  line-height: 64px;
  padding-top: 4px;
  padding-right: 8px;
  padding-left: 3px;
}
.box {
  margin-top: 20px;
  margin-bottom: 10px;
  margin-right: 100px;
  margin-left: 50px;
  text-align: justify;
  text-indent: 10px;

}
.heading{

    text-align: left;
    position: relative;
    margin-left: 50px;
    margin-top: 50px;
    margin-bottom: 20px;


}

.kerala{
  color: rgb(6, 190, 241);

}
